<%- include('header.ejs'); %>

        <% if (person) { %>
            <h3 class="person-h">Editing Person</h3>
            <form action="" method="post" class="person-edit-form">
                <div class="form-group">
                    <label for="person-name">Name</label>
                    <input type="text" class="form-control" name="person_name" id="person_name" value="<%= person.name %>"
                            required>
                </div>
                <div class="form-group">
                    <label for="person-year">Year of Birth</label>
                    <input type="text" class="form-control" name="person_year" id="person_year" value="<%= person.born %>"
                            required>
                </div>
                <div class="form-group">
                    <label for="person-country">Country</label>
                    <input type="text" class="form-control" name="person_country" id="person_country" value="<%= person.country %>"
                            required>
                </div>
                <div class="form-group">
                    <label for="person-died">Died</label>
                    <input type="text" class="form-control" name="person_died" id="person_died" <% if (person.died) { %> value="<%= person.country %>" <% } %>>
                </div>
                <button type="submit" class="btn btn-success float-center person-edit-btn">Update Person</button>
            </form>
        <% } else { %>
            <p class="text-center">Person not Found.</p>
        <% } %>
    </body>
</html>

