<%- include('header.ejs'); %>

        <section class="jumbotron text-center" style="margin-top:10%">
            <div class="container">
                <h3 class="jumbotron-heading"><%= movie.title %></h1>
                <p class="lead">Year: <%= movie.year %></p>
                <p class="lead">Director: <%= movie.director %></p>
                <p class="lead">Genre: <%= movie.genre %></p>
                <p class="lead">Rating: <%= movie.rating %></p>
                <p class="lead">Budget: <%= movie.budget %></p>
                <p class="lead">Earn: <%= movie.earn %></p>
                <p class="lead">Time: <%= movie.time %></p>
            </div>
        </section>

        <% if (actors.length > 0) { %>
        <table class="table table-striped" style="margin-top:5%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Year Of Birth</th>
                    <th>Country</th>
                    <th>Died</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% actors.forEach((actor, index) => { %>
                <tr>
                    <td><%= actor.name %></td>
                    <td><%= actor.role %></td>
                    <td><%= actor.year %></td>
                    <td><%= actor.country %></td>
                    <td><%= actor.died %></td>

                    <td>
                        <a href="/lucasfilm/<%= movie %>/<%= actor.name %>" rel="noopener" class="btn btn-sm btn-primary">Edit</a>
                        <a href="#" class="btn btn-sm btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <% } else { %>
        <p class="text-center">No actors found. Go <a href="#">here</a> to add actors.</p>
        <% } %>
    </body>
</html>

title: String,
year: String,
director: { $ref: String, $id: Schema.ObjectId },
genre: String,
rating: String,
budget: String,
earn: String,
time: String,